<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072288025489-mu483cd9ptfi4eunc10je6g68b3t3mhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072288025489-mu483cd9ptfi4eunc10je6g68b3t3mhu</string>
	<key>API_KEY</key>
	<string>AIzaSyDDyJsl5zEQ8LOjCdKfwVUwGuFDWfUUa9o</string>
	<key>GCM_SENDER_ID</key>
	<string>1072288025489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.instamobile.rn.ios.demo</string>
	<key>PROJECT_ID</key>
	<string>auth-instamobile</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-instamobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072288025489:ios:ee71ae179ac60982e86830</string>
</dict>
</plist>